---
# Only the main Sass file needs front matter (the dashes are enough)
---
@charset "utf-8";

@import 'foundation';

$base-font-family: 'Raleway', sans-serif;
$brand-font-family: 'BellotaRegular', Helvetica, Arial, sans-serif;
$base-font-size:   16px;
$small-font-size:  $base-font-size * 0.875;
$base-line-height: 1.5;


$text-color:       #111;
$background-color: #EDEDEA;
$brand-color:      #DE5842;
$green-color:      #31A454;
$blue-color:       #2C758A;

h1, h2, h3 {
  font-family: $brand-font-family;
}

@mixin ux-brand() {
  color: $brand-color;
  font-family: $brand-font-family;
  font-weight: 700;
}

body {
  @include grid-row();

  background-color: $background-color;
  color: lighten($text-color, 15%);
  font-family: $base-font-family;
  font-size: $base-font-size;
  font-weight: 300;
  line-height: $base-line-height;
  -webkit-text-size-adjust: 100%;
}

a {
  color: $blue-color;
  text-decoration: none;

  &:hover {
    color: darken($blue-color, 15%);
    text-decoration: underline;
  }
}

.section-header {
  margin: 24px 0;
  text-align: center;
}

.main-header {
  @include ux-brand();

  font-size: 2.6rem;
  font-style: normal;
  text-align: center;

  @media #{$medium-up} {
    font-size: 4.8em;
  }

  a {
    @include ux-brand();
    text-decoration: none;
  }
}

.main-sub-header {
  font-family: $brand-font-family;
  font-size: 1.6em;
  font-style: normal;
  font-weight: normal;
  margin-bottom: 32px;
  text-align: center;

  i {
    color: $green-color;
    margin: 0 4px;

    @media #{$small-only} {
      display: block;
    }
  }
}

.main-content {
  padding: 16px;

  @media #{$medium-up} {
    @include grid-column(8, $center: true);
  }
}

.main-copy {
  font-weight: 400;
}

span.ux-brand {
  @include ux-brand();
}

.mailing-list-content {
  border: 1px dashed darken($background-color, 25%);
  border-radius: 4px;
  padding: 16px;
}

.bad-joke {
  font-size: 12px;
}

footer {
  margin-top: 16px;
  text-align: center;
  width: 100%;
}

footer img {
  display: block;
  margin: 16px auto;
}

.footer-link-container {
  @include grid-row();
}

.footer-link-list {
  @include inline-list();

  margin-bottom: 24px;

  @media #{$medium-up} {
    @include grid-column(8, $center: true);
  }
}

.footer-link-list li {
  font-size: 12px;
  font-weight: 700;
  letter-spacing: 1px;
  text-transform: uppercase;
}

#mc_embed_signup input.email {
  border-color: darken($background-color, 25%);
  border-radius: 4px;
  display: inline-block;
  margin: 0;
  font-size: 16px;
}

#mc_embed_signup form {
  padding: 0;
}

#mc_embed_signup input.button {
  background-color: $brand-color;
  display: inline-block;
  font-size: 16px;
  height: 36px;
  line-height: 36px;
  width: auto;
}
