---
layout: default
title: Home
meta_description: A User Experience Conference in Burlington, VT - April 29, 2016
meta_keywords:
---

<section id='overview'>
  <div class='wrapper'>
    <h4>April 29<sup>th</sup>, 2016</h4>
    <h1>UX Burlington</h1>
    <h4>Burlington, Vermont</h4>
    <p>
      A single day, conference-style gathering, focused on what it really takes to build a great user experience on the web.
    </p>

    <p>
      <a href='https://ti.to/ux-burlington/2016' class='button' target='_blank'>Yes, I want to go! <i class='fi-arrow-right'></i></a>
    </p>
  </div>
</section>

<section id='speakers' class='darker-section'>
  <div class='wrapper'>
    <h2>Speakers</h2>

    <ul class='speaker-list'>
      {% assign speakers = site.categories.speaker | sort: 'order' %}
      {% for speaker in speakers %}
        <li class='speaker-item'>
          <a href='{{ speaker.url }}'>
            <img src="/images/speakers/{{ speaker.photo }}" alt="{{ speaker.title }}" class="speaker">
            <div class='speaker-details'>
              <h3>{{ speaker.title }}</h3>
              <h4 class='title'>{{ speaker.talk }}</h4>
            </div>
          </a>
        </li>
      {% endfor %}
    </ul>

    <p class="text-center">We are now accepting proposals to speak at UX Burlington 2016.</p>
    <p class="text-center">Proposals can be submitted and edited until the deadline:
      <strong>January 29th, 2016, 11:00pm EST</strong>. </p>

    <div class="text-center">
      <a href='http://cfp.uxburlington.com/' class='button' target='_blank'>Submit a proposal<i class='fi-arrow-right'></i></a>
    </div>
  </div>
</section>

<section id='mailing-list-signup' class='sign-up-section'>
  <div class='wrapper'>
    <h2>Sign up for the mailing list</h2>
    <p class='sub-copy'>
      Join our mailing list to be the first to hear about our call for proposals, ticket sales, sponsorship opportunities, and other details.<sup>*</sup>
    </p>

    <div>
      <!-- Begin MailChimp Signup Form -->
      <div id="mc_embed_signup" class='email-form'>
        <form action="//agilion.us10.list-manage.com/subscribe/post?u=d23a4088229d257c152f24c8d&amp;id=e893dc4c33" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate" target="_blank" novalidate>
          <div id="mc_embed_signup_scroll">
            <input type="email" value="" name="EMAIL" class="email" id="mce-EMAIL" placeholder="Email address" required>
            <!-- real people should not fill this in and expect good things - do not remove this or risk form bot signups-->
            <div style="position: absolute; left: -5000px;"><input type="text" name="b_d23a4088229d257c152f24c8d_e893dc4c33" tabindex="-1" value=""></div>
            <input type="submit" value="Subscribe" name="subscribe" id="mc-embedded-subscribe" class="button">
          </div>
        </form>
      </div>

      <!--End mc_embed_signup-->
    </div>
    <div class='bad-joke'>
      <sup>*</sup>We promise not to spam you or sell your email address. We will, however, We will, however, try and sell you tickets.
    </div>
  </div>
</section>

<section id='sponsors' class='darker-section'>
  {% include sponsors.html %}

  <div class='wrapper'>
    <p class='sub-copy'>
      Interested in sponsoring <span class='ux-brand'>UX Burlington</span>?
      Download our <a href='/uploads/ux-burlington-sponsorship-prospectus-2016.pdf'>sponsorship prospectus</a> for details or email us at <a href='mailto:{{site.email}}'>{{site.email}}</a>
      for details.
    </p>
  </div>
</section>
