<nav id='global-nav' class='top-bar' data-topbar role='navigation'>
  <ul class='title-area'>
    <li class='name'>
      <div id='global-nav-logo'>
        <h1>
          <a href='/'>
          </a>
        </h1>
      </div>
    </li>
    <li class='toggle-topbar menu-icon'><a href='#'><span></span></a></li>
  </ul>
  <section class='top-bar-section'>
    <ul class='left'>
      <li><a href='https://vimeo.com/album/3447854' target='_blank'>Videos</a></li>
      <li><a href='/speakers'>Speakers</a></li>
      <li><a href='/schedule'>Schedule</a></li>
      <li><a href='/location'>Location &amp; Venue</a></li>
      <li><a href='/sponsors'>Sponsors</a></li>
    </ul>
  </section>
</nav>
