<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="description" content="{{page.meta_description}}">

  <title>{{ page.title }} | UX Burlington 2016</title>

  <link href="//cdn-images.mailchimp.com/embedcode/slim-081711.css" rel="stylesheet" type="text/css">
  <link rel="stylesheet" href="/css/main.css">
  <link rel="stylesheet" href="/css/foundation-icons.css">
  <link rel="stylesheet" href="/css/responsive-tables.css" />
  <link rel="stylesheet" media="screen" href="http://openfontlibrary.org/face/bellota" rel="stylesheet" type="text/css"/>
  <link href='http://fonts.googleapis.com/css?family=Raleway:400,700' rel='stylesheet' type='text/css'>
  <link href="/images/favicon.png" rel="shortcut icon" />
  <script src="/bower_components/jquery/dist/jquery.min.js"></script>
  <script src="/bower_components/fastclick/lib/fastclick.js"></script>
  <script src="/bower_components/foundation/js/foundation.min.js"></script>
  <script src="/scripts/responsive-tables.js"></script>
</head>
