<div class='wrapper'>
  <h1>Sponsors</h1>
  <h2>Founded by</h2>
  <ul class='sponsor-logos small-block-grid-1 medium-block-grid-1 large-block-grid-1'>
    <li>
      <a href='http://agilion.com/'>
        <img src='/images/sponsor-logos/agilion-logo-black.svg' alt='Agilion Logo' width='30%'>
      </a>
    </li>
  </ul>

  <hr>

  <h2>Make it Rain&trade;</h2>
  <ul class='sponsor-logos small-block-grid-1 medium-block-grid-1 large-block-grid-1'>
    <li>
      <a href='http://us.dealertrack.com/'>
        <img src='/images/sponsor-logos/dealertrack-dealer.png' alt='Dealertrack | Dealer.com logo'>
      </a>
    </li>
  </ul>

  <hr>

  <h2>Level 1</h2>
  <ul class='sponsor-logos small-block-grid-1 medium-block-grid-1 large-block-grid-3'>
    <li>
      <a href='https://www.middleburyinteractive.com/'>
        <img src='/images/sponsor-logos/mil.svg' alt='Middlebury Interactive Languages logo'>
      </a>
    </li>
    <li>
      <a href='http://www.uxdesignedge.com/uxburlington/'>
        <img src='/images/sponsor-logos/ux-design-edge.svg' alt='UX Design Edge logo'>
      </a>
    </li>
    <li>
      <a href='http://vermont.aiga.org/'>
        <img src='/images/sponsor-logos/aiga-vt.svg' alt='AIGA VT logo'>
      </a>
    </li>
  </ul>
</div>

