<!DOCTYPE html>
<html>
  {% include header.html %}

  <body>
    <div class='body-wrap clearfix'>
      <nav id='global-nav' class='top-bar' data-topbar role='navigation'>
        <ul class='title-area'>
          <li class='name'>
            <div id='global-nav-logo'>
              <h1>
                <a href='/'>
                </a>
              </h1>
            </div>
          </li>
          <li class='toggle-topbar menu-icon'><a href='#'><span></span></a></li>
        </ul>
        <section class='top-bar-section'>
          <ul class='left'>
            <li><a href='/'>Overview</a></li>
            <li><a href='/speakers'>Speakers</a></li>
            <li><a href='/sponsors'>Sponsors</a></li>
          </ul>
          <ul class='right'>
            <li><a href='https://ti.to/ux-burlington/2015' class='top-bar-ticket-link button'>Buy Tickets!</a></li>
          </ul>
        </section>
      </nav>

      <main id='global-main'>
        {{ content }}
      </main>

      {% include footer.html %}
    </div>

    <script>
      $(document).foundation();
    </script>
  </body>
</html>
