<!DOCTYPE html>
<html>
  {% include header.html %}

  <body>
    <div class='body-wrap clearfix'>
      {% include global-nav.html %}

      <main id='global-main'>
        <div id='speaker'>
          <div class='wrapper'>
            <div class='img-wrapper'>
              <img src="/images/speakers/{{ page.photo }}" alt="{{ page.title }}" class="speaker">
              <h1>{{page.title}}</h1>
              <h2>{{page.talk}}</h2>
            </div>

            <div class='speaker-copy'>
              {{ content }}
            </div>

            <a href='https://twitter.com/{{ page.twitter }}'><i class='fi-social-twitter'></i> @{{page.twitter }}</a>
          </div>
        </div>
      </main>

      {% include footer.html %}
    </div>

    <script>
      $(document).foundation();
    </script>
  </body>
</html>
